*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sect2{
    width: 70%;
    margin: auto;
}
.sect2 h2{
    padding: 40px;
font-weight: 700;
font-size: 44px;
color: #000;
text-transform: uppercase;
text-align: center;
    
}
.sect2 button{
    margin: 10px;
    padding: 10px;
    font-weight: 800;

}
.box{
    text-align: center;
    overflow: hidden;
    position: relative;
}
.box img,video{
    width: 300px;
    height: auto;
    transition: all 0.3s ease-out 0s;
    margin: 10px;
}
.box:hover img{
    opacity: 0.4;
    transform: scale(1.1);
}
.box .box-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.box .title{
	font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    opacity: 0;
    margin: 0 0 10px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.box:hover .title{
    opacity: 1;
}
.box-content .overlay{
    width: 78px;
    height: 78px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    transform: rotate(45deg) translate(-50%, -50%);
}
.box-content .overlay:before,
.box-content .overlay:after,
.box-content .overlay div:before,
.box-content .overlay div:after{
    content: "";
    display: block;
    position: absolute;
    background: #f95b34;
    transition: all 0.4s ease-in-out;
}
.box-content .overlay:before,
.box-content .overlay:after{
    width: 0;
    height: 2px;
}
.box-content .overlay div:before,
.box-content .overlay div:after{
    width: 2px;
    height: 0;
}
.box-content .overlay:before,
.box-content .overlay div:before{
    top: 0;
    left: 0;
}
.box-content .overlay:after,
.box-content .overlay div:after{
    bottom: 0;
    right: 0;
}
.box:hover .overlay:before,
.box:hover .overlay:after{
    width: 65%;
}
.box:hover .overlay div:before,
.box:hover .overlay div:after{
    height: 65%;
}
@media only screen and (max-width:990px){
    .box{ margin-bottom: 0px; }
}
.box .post{
	font-family: 'Open Sans', sans-serif; 
    display: block;
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    color: #fff;
    margin: 10px 0px 20px;
	text-transform:none
}



.gallery_product
{
    margin-bottom: 0px;
}


.col-gall{width:20%; margin:0; padding:0; float:left}

@media (max-width: 1200px) {
.col-gall{width:25%; }
}
@media (max-width: 900px) {
.col-gall{width:33.33%; }
}
@media (max-width: 600px) {
.col-gall{width:50%; }
}
@media (max-width: 400px) {
.col-gall{width:100%; }
}

/* Project */
.proj{background:none; padding:35px 15px 50px;  position:relative}
.proj h1{font-family: 'Open Sans', sans-serif; font-size:24px; font-weight:600; color:#5d5d5d; padding:0 ; margin:0px 0 30px; /*text-transform:uppercase; */text-align:center}
.proj h2{font-family: 'Open Sans', sans-serif; font-size:24px; font-weight:600; color:#5d5d5d; padding:0 ; margin:0px 0 30px; text-transform:uppercase}
.proj p {font-family: 'Open Sans', sans-serif; font-size:14px; color:#757575; margin:0 0 12px 0; padding:0; text-align: justify  }

.proj-padding{ padding-left:0 !important; padding-bottom:12px}

@media (max-width: 420px) {
.proj-padding{padding-right:0 !important; }
}
.blue{color:#114DA8 !important}


.back{float:left; color:#114DA8}
.back:hover{float:left; color:#114DA8; text-decoration:none}
